<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="docUrl" value="C:\docs\GERADORHISCON_17072019576.docx"></add>
    <add key="PdfUrl" value="C:\docs\GERADORHISCON_17072019576.pdf"></add>
    
    
  </appSettings>
</configuration>